/* =================================================================================================
Description
----------------------------------------------------------------------------------------------------
	Contains support for third party plugins, that don't have an own file and only need a few
	styles to integrate nicely with the theme.

Table of Contents
----------------------------------------------------------------------------------------------------
	01 Events Espresso Styles
	02 NextGEN
	03 Polylang Styles
================================================================================================= */


/* Events Espresso Styles
================================================================================================= */

.tkt-slctr-tbl-wrap-dv table { margin-bottom: 10px; }

/* NextGen Styles (to make sure the lightboxes stay on top of header etc)
================================================================================================= */
#fancybox-overlay {
	z-index: 100049 !important;
}

#fancybox-wrap {
	z-index: 100050 !important;
}

div#shShutter {
	z-index: 100049;
}

div#shDisplay {
	z-index: 100050
}

/* Polylang Styles
================================================================================================= */
.fusion-main-menu,
.fusion-secondary-menu {
	.lang-item {
		> a {
			img {
				vertical-align: middle;
				padding: 0 2px;
			}
		}
	}
}